<p>This is developer's test/demo site</p>

<p>Site is single page application based in angular js 1.5.8 and bootsrap 3.3.7
    <br>Server part is REST API written on Java (Spring Framework)
</p>

<p>
    GitHub page:
    <br>
    &nbsp;&nbsp;<a ng-href="https://github.com/evgndev/Catalog">github.com/evgndev/Catalog</a>
</p>

<p>
    Content (data about bikes) was obtained from GT official site and Mangoose official site
    <br>
    &nbsp;&nbsp;<a ng-href="http://www.gtbicycles.com/">www.gtbicycles.com</a>
    <br>
    &nbsp;&nbsp;<a ng-href="http://www.mongoose-bikes.ru/">www.mongoose-bikes.ru</a>
</p>

<p>My contacts:
    <br>
    &nbsp;&nbsp;Mail: evgn.kr@gmail.com
    <br>
    &nbsp;&nbsp;Skype: evgenkrysenko
</p>