<p class="c-pre" hidden> <!--http://www.bicyclinglife.com/NewsAndViews/BikePoetry.htm-->
    MAYBE ALONE ON MY BIKE

    I listen, and the mountain lakes
    hear snowflakes come on those winter wings
    only the owls are awake to see,
    their radar gaze and furred ears
    alert. In that stillness a meaning shakes;

    And I have thought (maybe alone
    on my bike, quaintly on a cold
    evening pedaling home), Think!--
    the splendor of our life, its current unknown
    as those mountains, the scene no one sees.

    O citizens of our great amnesty:
    we might have died. We live. Marvels
    coast by, great veers and swoops of air
    so bright the lamps waver in tears,
    and I hear in the chain a chuckle I like to hear.

    William Stafford
</p>
<div class="c-collage container-fluid">
    <div class="row">
        <div class="col-md-4 c-main-image"><img ng-src="/images/collage/start.jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (2).jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (3).jpg"></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (4).jpg"></div>
        <div class="col-md-4 c-main-image"><img ng-src="/images/collage/red.jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (11).jpg"></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (6).jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (7).jpg"></div>
        <div class="col-md-4 c-main-image"><img ng-src="/images/collage/retro.jpg"></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (7).jpg"></div>
        <div class="col-md-4 c-main-image"><img ng-src="/images/collage/sun.jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (8).jpg"></div>
    </div>
    <div class="row">
        <div class="col-md-4 c-main-image"><img ng-src="/images/collage/yellow.jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (4).jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (10).jpg"></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (5).jpg"></div>
        <div class="col-md-4 c-main-image"><img ng-src="/images/collage/snow.jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (2).jpg"></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (9).jpg"></div>
        <div class="col-md-4"><img ng-src="/images/collage/spacer/spacer (13).jpg"></div>
        <div class="col-md-4 c-main-image"><img ng-src="/images/collage/end.jpg"></div>
    </div>
</div>



