<!DOCTYPE html>
<html ng-app="catalogApp">
<head>
    <title>Bike catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-translate.js"></script>
    <script src="js/angular-file-upload.js"></script>
    <script src="js/angular-strap.js"></script>
    <script src="js/angular-strap.tpl.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/custom/main.js"></script>
    <script src="js/custom/controller/NavigationController.js"></script>
    <script src="js/custom/controller/ItemListController.js"></script>
    <script src="js/custom/controller/ItemController.js"></script>
    <script src="js/custom/localization/localization-ru.js"></script>
    <script src="js/custom/localization/localization-en.js"></script>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body>
<div id="c-background-layer"></div>
<div class="well-lg">
    <div class="c-material-shadow c-no-border container panel c-p0" ng-cloak>
        <div class="" ng-controller="NavigationController as navCtrl">
            <div class="c-header-bg">
                <span class="c-pen-icon btn pull-right glyphicon glyphicon-pencil"
                      ng-click="navCtrl.changeMode()"
                      ng-class="{'btn-success': navCtrl.editorMode}"
                >
                </span>

                <!--header-->
                <h1 class="c-header-text" translate>headerTitle</h1>
                <h3 translate>headerLabel</h3>
                <br>

                <!--tabs-->
                <ul class="nav nav-pills">
                    <li ng-click="navCtrl.changeView('/home')"
                        ng-class="{active: currentView == '/home'}">
                        <a translate>homePage</a>
                    </li>
                    <li ng-click="navCtrl.changeView('/items')"
                        ng-class="{active: currentView.indexOf('item') !== -1 }">
                        <a translate>itemsPage</a>
                    </li>
                    <li ng-click="navCtrl.changeView('/contacts')"
                        ng-class="{active: currentView == '/contacts'}">
                        <a translate>contacts</a>
                    </li>
                </ul>
            </div>

            <!--app body here    -->
            <div class="well-lg" ng-view/>
        </div>
    </div>
</div>
</body>
</html>